@model iglid.Models.TeamViewModels.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h3>@ViewData["StatusMassage"]</h3>
@if (!Model.HasTeam)
{
<p class="col-md-2">
    <a asp-action="Create">Create New</a>
</p>
}
else
{
    <p class="col-md-2">
        <button type="button" class="btn btn-default"> 
            @Html.ActionLink("My Team", "Profile", new { id = Model.TeamId })            
        </button>
    </p>
}
<table class="table table-hover">
    <thead>
        <tr>
                <th>
                    Name
                </th>
            <th>
                Leader
            </th>
            <th>
               Score
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.teams) {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Leader.UserName)
            </td>
            <td>                
                @Html.DisplayFor(modelitem => item.score)
            </td>
            <td>
                @Html.ActionLink("Join", "Join", new { id=item.ID }) |
                @Html.ActionLink("Profile", "Profile", new { id=item.ID })              
            </td>
        </tr>
}        
    </tbody>    
</table>
