@model iglid.Models.TeamViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<h4>@Html.DisplayFor(model => model.team.TeamName)</h4>
<div>
    <a asp-action="Index">Teams Leaderboard</a>
</div>
<div class="container">
    <hr />
    <p class="left">
        Score:@Html.DisplayFor(model => model.team.score)
    </p>
    @if(Model.IsCurrentUserLeader){
    <div class="right">
        @Html.ActionLink("Massages", "Massages", new {id = Model.team.ID})<span class="badge">
        @Html.DisplayFor(model => model.team.requests.Count)
        </span>
    </div>
    }else{
        @Html.ActionLink("Exit", "Exit",new {id = Model.team.ID})
    }
    <div class="container-fluid">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        PSN
                    </th>
                    <th>
                        Score
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.team.players) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.PSN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.score)
                        </td>
                        @if(Model.IsCurrentUserLeader){
                        <td>
                            @Html.ActionLink("Remove", "Remove", new { teamid = Model.team.ID,playerid=item.Id }) |
                            @Html.ActionLink("Profile", "Profile","Account", new { id = item.Id},null)
                        </td>
                        }else{
                        <td>                            
                            @Html.ActionLink("Profile", "Profile","Account", new { id = item.Id},null)
                        </td>
                        }
                    </tr>
}
            </tbody>
        </table>
    </div>
    
</div>

